# Arquivos de ambiente
.env

# Dependências geradas pelo npm
node_modules/

# Arquivos de log do npm
npm-debug.log*

# Arquivos gerados pelo Visual Studio Code
.vscode/

# Dependências geradas pelo Yarn
yarn.lock
